{% extends 'master.html' %}
{% block content %}



<form action="" method="post">
        {% csrf_token %}
        <br>
        {{ category_form }}
        
    <input type="submit" value="Save" />

</form>

{% endblock %}