{#<div style="width: auto; height: 5px; background: #333"> </div>#}

<html xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body style="margin: 0">
<div style="background-color: #333333 ; width: 100% ; height: 120px">
    <br>
    <h2><b style="color: chocolate; padding-left: 25px"> {{ category.title }} </b></h2>
    <p style="color: white">
        <a href="{% url 'index' %} " style="color:white ;  padding-left: 25px"> Home </a>
            {% if user.is_authenticated %}
                | <a href="{% url 'add_post' category.id %} " style="color:white ;"> Add Post</a>
                <span style="float: right;  padding-right: 25px">
                    Hoşgeldiniz {{ request.user.username }}
                    | <a href="{% url 'logout' %} " style="color:white ; "> Logout </a>
                </span>

            {% else %}
                | <a href="{% url 'register' %}" style="color:white ;">Sign in</a> |
                <a href="{% url 'login' %}" style="color:white ;" >Login</a>
                {% endif %}
    </p>
</div>




{% if category.post_set %}
    {% for cm in category.post_set.all %}
         <h3><p style="color:darkgrey"> &emsp;{{ cm.post_title }} </p> </h3>


         <p class="bg-warning">   &emsp;&emsp;{{ cm.post_text|slice:":300" }}
             <a href="{% url 'read_more' category.id cm.id %}"> read more ... </a>
          </p>
        <hr/>
    {% endfor %}
{% else %}
    <p>no post</p>
{% endif %}

</body>
</html>

