<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <style>
        ul,li{list-style-type: none;}
    </style>
</head>


<body style="margin: 0">


<div style="background-color: #333333 ; width: 100% ; height: 120px">
    <br>
    <h2><b style="color: chocolate; padding-left: 25px"> MY BLOG </b></h2>
    <p style="color: white">
        <a href="{% url 'index' %} " style="color:white ; padding-left: 25px "> Home </a>

        {% if request.user.is_authenticated %}
            <span style="float: right">
                    Hoşgeldiniz {{ request.user.username }} |
                    <a href="{% url 'logout' %} " style="color:white ; padding-right: 25px ">Logout</a>
                </span>
            | <a href="{% url 'profile' user.id %} " style="color:white ;"> Profile </a>
            {% if request.user.is_superuser %}
                | <a href="{% url 'add_category' %} " style="color:white ;"> Add Category</a>
            {% endif %}
        {% else %}
           | <a href="{% url 'register' %}" style="color:white ;">Sign in</a> |
            <a href="{% url 'login' %}" style="color:white ;" >Login</a>
        {% endif %}


    </p>
</div>

<h3><p style="color: darkgrey">&emsp;<b> CATEGORIES </b></p> </h3>
{% if categories %}
    <ul>
        {% for category in categories %}
            <br>
            <a href="{% url 'detail' category.id %}"> {{ category.title }} </a>
                {% if request.user.is_superuser  %}
                    <a href="{% url 'delete_category' category.id %}"> X </a>
                {% endif %}
            <br>
        {% endfor %}
    </ul>
{% else %}

    <p>There are no categories. </p>
{% endif %}

<br/>


<hr/>

<h3><p style="color: darkgrey">&emsp;<b> POSTS </b></p> </h3>

{% for pst in posts %}
    <br/>

    <p class="bg-warning"> &emsp;&emsp; {{ pst.post_text |slice:":300" }}
        <a href="{% url 'read_more' pst.post_of_category.id pst.id %}"> read more ... </a>
        <br/></p>

{% endfor %}


</body>

</html>