<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <style>
        ul,li{list-style-type: none;}
    </style>
</head>
<body style="margin: 0" >

<div style="background-color: #333333 ; width: 100% ; height: 120px">
    <br>
    <h2><b style="color: chocolate; padding-left: 25px"> {{ member }} </b></h2>
    <p style="color: white">
        <a href="{% url 'index' %} " style="color:white ;  padding-left: 25px"> Home </a>
            {% if user.is_authenticated %}
                <span style="float: right;  padding-right: 25px">
                    Hoşgeldiniz {{ user.username }}
                    | <a href="{% url 'logout' %} " style="color:white ; "> Logout </a>
                </span>

            {% else %}
                | <a href="{% url 'register' %}" style="color:white ;">Sign in</a> |
                <a href="{% url 'login' %}" style="color:white ;" >Login</a>
                {% endif %}
    </p>
</div>


<h3><p style="color: darkgrey">&emsp;<b> POSTS </b></p> </h3>

    {% if post %}
        {% for p in post %}
             <br/>
                <h3><p style="color:darkgrey"> &emsp; {{ p.post_title }} </h3> </p>
                <p class="bg-warning"> &emsp;&emsp; {{ p.post_text |slice:":300" }}
                <a href="{% url 'read_more' p.post_of_category_id p.id %}"> read more ... </a>
                <br/></p>
                <hr/>

        {% endfor %}

    {% else %}
         <p>There is no post</p>
    {% endif %}



<h3><p style="color: darkgrey">&emsp;<b> COMMENTS </b></p> </h3>

    {% if comment %}
        {% for c in comment %}
             <br/>
            <h3><p style="color:darkgrey"> &emsp; {{ c.post_of_comment.post_of_category }} </h3> </p>
                <p class="bg-warning"> &emsp;&emsp; {{ c.comment_text |slice:":300" }}
                <a href="{% url 'read_more' c.post_of_comment.post_of_category_id c.post_of_comment.id %}"> read more ... </a>
                <br/></p>
            <hr/>

        {% endfor %}

    {% else %}
         <p>There is no comment</p>
    {% endif %}


</body>
</html>