<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <style>
        ul,li{list-style-type: none;}
    </style>
</head>

<body style="margin: 0">


<div style="background-color: #333333 ; width: 100% ; height: 120px">
    <br>
    <h2><a href="{% url 'detail' category.id %} " style="color:chocolate ;padding-left: 25px ;" class="a"> {{ category.title }} </a></h2>
    <p style="color: white">
        <a href="{% url 'index' %} " style="color:white ;padding-left: 25px "> Home </a>
        {% if user.is_authenticated %}
            <span style="float: right; padding-right: 25px">
                Hoşgeldiniz {{ request.user.username }}
                | <a href="{% url 'logout' %} " style="color:white ; padding-right: 25px "> Logout </a>
            </span>
        {% endif %}
    </p>
</div>




<div style="background-color:beige ; width: 100% ; height: 300px; padding-top: 20px">
    <p><h3> &emsp;{{ post.post_title }}</h3></br>
        <p>     &emsp;      {{post.post_text}}</p>

            <br>
            <br>
           &emsp; Author: <a href="{% url 'profile' post.author.id %}"> {{ post.author }} </a>  <br>
           &emsp; Likes : {{ post.num_of_like }} | Dislikes : {{ post.num_of_dislike }}<br>
           &emsp; Published date : {{ post.created_date }} <br>
            &emsp; Updated date : {{ post.updated_date }}
                        <br> <br> <br>
            &emsp;{% if user.is_authenticated or user.is_superuser %}
                    <b><a href="{% url 'post_like' category.id post.pk %}"> Like </a> |
                    <a href="{% url 'post_dislike' category.id post.pk %}"> Dislike </a>
                    {% if post.author == request.user or user.is_superuser %}
                    | <a href="{% url 'update_post'  category.id post.pk %}"> Update </a>  |
                    <a href="{% url 'delete_post' category.id post.pk %}"> Delete </a>
                {% endif %}
         </b>
    </p>



</div>







    <hr/>





    <form action="" method="post">
        {% csrf_token %}
        <br>
        &emsp; {{ comment_form }}
        <input type="submit" value="Save"/>

    </form>


{% endif %}
<hr/>
<h4><p style="color: darkgrey">&emsp;<b> Comments </b></p> </h4>
<hr/>
{% if post.comment_set %}
    {% for cm in post.comment_set.all %}

        <p> &emsp; {{ cm.comment_text }} <br> <br>

            &emsp; Likes: {{ cm.number_of_like }} | Dislikes: {{ cm.number_of_dislike }} <br>
            &emsp; Created Date: {{ cm.created_date }} <br>
            &emsp; Updated Date: {{ cm.updated_date }} <br>
            &emsp; Commented by: <a href="{% url 'profile' cm.author.id %}"> {{ cm.author }} </a>  <br></p>

        {% if user.is_authenticated %}

           &emsp; <b><a href="{% url 'comment_like' category.id post.pk cm.id %}">Like</a> |
                <a href="{% url 'comment_dislike'  category.id post.pk cm.id %}">Dislike</a>
                {% if cm.author == request.user or user.is_superuser %}
                    |  <a href="{% url 'delete_comment'  category.id post.pk cm.id %}"> Delete </a> |
                    <a href="{% url 'update_comment'  category.id post.pk cm.id %}"> Update </a>

                {% endif %}

            </b>

        {% endif %}
        <hr/>
    {% endfor %}
{% else %}
    <p> NO COMMENTS !</p>
{% endif %}


</body>
</html>
