{% extends 'master.html' %}
{% block content %}



<form action="" method="post">
    {% csrf_token %}
     <br>
    {{ user_form.as_p }}
        <input type="submit" value="Save" />

</form>

{% endblock %}